.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.header__menu {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 2rem;
    list-style: none;
}

.header__link {
    text-decoration: none;
    font-weight: 600;
    font-size: var(--sizes-base);
    letter-spacing: -0.025em;
    color: var(--clr-slate400);
}


/* rice grain */
@media (min-width: 320px) {
    .container {
        max-width: 320px;
    }
}

/* my bmi */
@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
}

/* small */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

/* medium */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* large */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

/* superlarge! */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

/* beeg */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}
